
  <div style="text-align: center">

    <h1>
       !! Welcome to Angular POC learning ....
    </h1>

    <span>{{ title }} app is running!</span>
    </div>
    
    <!-- <app-mycomponent>/<app-mycomponent> -->
     <!-- <app-user>/<app-user>  -->
    <app-product>/</app-product>

    
    
    <div>
    
      <!-- <input type="text" [value]="message"> -->
      <!-- <input type="text" [(ngModel)]="message">  -->
      <!-- Two way daya binding  -->
        {{message}}  

        <!-- // this message is for one way data binding. -->
    </div>
    <br/>
  <br/>

 

  <!-- <app-mycomponent>/</app-mycomponent> -->
  <!-- <app-user></app-user> -->
  

  